# Ignore project specifics
lib/
Tests/libs/
Tests/_files/responses/

# Ingnore composer specifics
vendor
build/

# Ingore IDE specifics
.idea
.settings/
.project
.buildpath

# Ignore temp files
*.swp
