<?xml version="1.0" encoding="UTF-8"?>

<phpunit backupGlobals="false"
         strict="true"
         verbose="true"
         bootstrap="bootstrap.php"
>

  <testsuites>
    <testsuite name="WsUnit">
        <directory>Tests/Unit</directory>
        <directory>Tests/Integration</directory>
    </testsuite>
  </testsuites>

  <logging>
    <log type="coverage-html" target="build/coverage" title="WsUnit"
         charset="UTF-8" yui="true" highlight="true"
         lowUpperBound="35" highLowerBound="70"/>
    <log type="coverage-clover" target="build/logs/clover.xml"/>
    <log type="junit" target="build/logs/junit.xml" logIncompleteSkipped="false"/>
  </logging>

  <filter>
    <whitelist addUncoveredFilesFromWhitelist="true">
      <directory suffix=".php">PHPUnit</directory>
      <exclude>
        <directory>src/lib</directory>
      </exclude>
    </whitelist>
  </filter>

<!--
  // listener configuration
  // You have to require the used libraries in the bootstrap file.
-->
  <listeners>
    <listener class="WebServiceListener">
      <arguments>
        <object class="\lapistano\wsunit\Extensions_Webservice_Listener_Factory"/>
        <object class="\lapistano\wsunit\Loader\Extensions_Webservice_Listener_Loader_Configuration"/>
        <array>
          <element key="httpClient">
            <string>lapistano\wsunit\Http\Extensions_Webservice_Listener_Http_Client</string>
          </element>
          <element key="logger">
            <string>lapistano\wsunit\Extensions_Webservice_Listener_Logger</string>
          </element>
          <element key="mappingFile">
            <string>../../Tests/_files/configuration.xml</string>
          </element>
        </array>
      </arguments>
    </listener>
  </listeners>

  
</phpunit>
